<app-navbar/>
<div class="container">

  <div *ngIf="toDoList.length === 0; then message else itemList"></div>

  <ng-template #message>
    <div>You are all caught up</div>
  </ng-template>


  <ng-template #itemList>
    <ul>
      <li *ngFor="let item of toDoList; index as i">
        <input 
        type="checkbox" 
        class="checkbox" 
        [checked]="item.isCompleted" 
        [attr.data-index]="i"
        (click)="toggleComplete(item)"> 
        {{item.toDo}}
      </li>
    </ul>
  </ng-template>
<app-timer></app-timer>










</div>
<router-outlet></router-outlet>